body { margin:0; padding:0; }
#map { position:relative; top:0; bottom:0; width:100%; }

.leaflet-popup-content {
	width: 294px !important;
	height: auto !important;
	padding-bottom: 0 !important;
}

.leaflet-popup-content-wrapper {
	position: relative;
	border-radius: 4px !important;
}

.c_information {
	/*padding-top: 5px;*/
	padding-bottom: 5px;
	cursor: pointer;
}

#list {
	display: none;
}

.leaflet-popup-tip-container {
	display: none;
}
.leaflet-popup-close-button {
	text-indent: initial;
}

.leaflet-container a.leaflet-popup-close-button {
	font-size: 20px;
	color:#4f2f8d;
}
._ls_service > span {
	display: block;
}