.propos-header {
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.header-bg-front {
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
}

#content {
	padding-top: 50px; 
}

.btn-first {
	background-color: #80808000;
	border-color: #4f2f8d;
	border-radius: 28px;
	color: #4f2f8d;
	text-transform: uppercase;
	font-weight: bolder;
}

.second-top {
	margin-top: 50px;
}

.container {
	color: gray;
}

#btn-center {
	text-align: center !important;
}

.btn-first:hover
{
	color: #fff !important;
	background-color: #4f2f8d !important;
	border-color: #4f2f8d !important;
}

.bg-white {
	/*background-color: white;*/
	background-image: url(../images/Background-pattern.png);
}

.bg-gray {
	background-color: #f3f2f5 !important;
}

.bg-white .col-3 {
	border: 2px solid #43424212;
    border-top: 0;
    border-radius: 7px;
    padding-top: 42px;
    padding-bottom: 42px;
    margin-right: 20px;
    box-shadow: 1px 3px 4px #00000040;
}

h1.title { 	font-size: 35px; 	color: #a29da9; }
h1.title-c { 	color: #4f2f8d; }

.block-certas {
	height: 224px;
	display: table;
}

.block-tcell {
	display: table-cell !important;
	vertical-align: middle !important;
}

.img-section6 {
	width: 35%;
}



.bg-white .list-article {
	border: 2px solid #43424212;
    border-top: 0;
    border-radius: 7px;
    padding-top: 42px;
    padding-bottom: 42px;
    margin-right: 20px;
    box-shadow: none;
}

.post-image-bg a {
	display: flex !important;
	height: 280px !important;
}
.post-image-bg a>img {
	width: 100% !important;
}

.recentpost-categories, .readmorebtn {
	display: none !important;
}

.wp-post-title a {
	color: #4f2f8d !important;
	text-transform: uppercase;
	font-weight: bold;
}

.wp-sub-content {
	color: #a29da9;
}
.wp-post-date {
	color: #02b5ca;
	font-weight: bold;
	font-size: 18px !important;
}

.title-sc {
	font-size: 25px;
}

.nt-reseau {
	background-image: url(../images/forme-background-picto.svg);
	width: 70px;
}

.nr-reseau {
	width: 54px;
	padding-bottom: 14px;
}
.slick-list.draggable {
	/*margin: 0 65px !important;*/
}

#recent-post-carousel-1.recent-post-carousel button.slick-prev{
	background: url(../images/_icons/arrow.svg) center center no-repeat !important;
	background-size: 25px 25px !important;
	outline: none !important;
	box-shadow: none;
	color: #000;
	transform: rotateY(180deg) !important;
}

#recent-post-carousel-1.recent-post-carousel button.slick-next{
	background: url(../images/_icons/arrow.svg) center center no-repeat !important;
	background-size: 25px 25px !important;
	outline: none !important;
	box-shadow: none;
	color: #000;
}

form input:focus {
	border-color: #4f2f8d !important;
}

form input:not([type="submit"]) {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-radius: 0 !important;
	padding-left: 0 !important;
}

input#nom, input#prenom, input#email, input#phone, #label_message, #message{
	font-size: 15px;
}

#label_message {
	display: contents;
}

#message {
	width: 100%;
}

label>a {
	text-decoration: underline;;
}

._apropos_video 
{
	/*margin-top: 180px !important;
    margin-bottom: 180px !important;*/
    margin: auto;
}

._apropos_second 
{
	/*margin-top: 96px !important;
    margin-bottom: 96px !important;*/
    margin: auto;
}

._comment {
	color: #4f2f8d;
	text-transform: uppercase;
	font-size: 2.5rem;
}

.img_club {
	max-width: 100%;
	/*height: 100%;*/
}

.pl_club {
	/*padding-left: 40px;*/
	margin: auto;
}

.img_promos {
	width: 100%;
	height: 100%;
}

.t_promos {
	color: #4f2f8d;
	text-transform: uppercase;
  font-weight: 600;
}
.b_promo {
    font-weight: bolder;
    text-decoration: underline;
}

@media only screen and (max-width: 1449px) {
    .img_produits {
      width: 100%;
      /*height: 100%;*/
    }
}


@media only screen and (min-width: 1450px) {
    .img_produits {
      max-width: 100%;
      /*height: 100%;*/
    }
}

/*.nombre {
  background-color: #4f2f8d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}*/

.nombre {
	/*border-radius: 190px 190px 190px 190px;
	-moz-border-radius: 190px 190px 190px 190px;
	-webkit-border-radius: 190px 190px 190px 190px;
	border: 0px solid #000000;*/
  	background-color: #4f2f8d;
  	color: white;
	display: inline-block;
    border-radius: 70%;
    width: 42px;
    height: 42px;
    text-align: center;
    font-size: 22px;
}

.nombre p {
    margin: 0;
}

span a {
	color: #4f2f8d;
}

.t_marche {
	font-size: 32px;
}


#map {
  width: 100%;
  height: 100%;
  z-index:100;
}
#mapSearchContainer{
  position:fixed;
  top:20px;
  right: 40px;
  height:30px;
  width:180px;
  z-index:110;
  font-size:10pt;
  color:#5d5d5d;
  border:solid 1px #bbb;
  background-color:#f8f8f8;
}
.pointer{
  position:absolute;
  top:86px;
  left:60px;
  z-index:99999;
}


.input-group.md-form.form-sm.form-1 input{
	border: 1px solid #bdbdbd;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
	border: 1px solid #bdbdbd;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
	border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
	border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
	border: 1px solid #ffca28;
}
.p-a-propos > p {
    font-size: 15px;
    line-height: 1.4em;
}

.map_dropdown {
	width: 419px;
	max-height: 365px;
	border: 2px solid #4e2490;
	background-clip: padding-box;
	display: none;
	margin-top: 2px;
	overflow: auto;
}

.p_city {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #d1c6c669;
	cursor: pointer;
}
.l_city {
	margin-left: 8px;
}

.p_city:hover {
	background-color: #6f6fb8;
	color: #fff;
}

.l_carte {
	background: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 0px .0px rgba(240,240,240,5);
	border: 1px solid rgb(240, 240, 240);
}

.c_information {
	color: #604696;
	text-decoration: underline;
	padding-bottom: 6px;
}

.t_esso {
	color: #4f2f8d;
	font-weight: bold;
}

.fa {
    color: #bcb8c1 !important;
}
#search{
  /*border: initial  !important; */
  height: initial !important;
  border: 1px solid #bdbdbd;
}
#basic-text1{
  background-color: inherit !important;
  border:  inherit !important;
}
.div-search{
	border: 1px solid #bcb8c1;
	border-radius: 5px;
}
.div-search .form-control::placeholder {
    color: #bcb8c1;
}

.c_popup {
	color: #a29da9;
}

@media screen and (max-width: 1449px) {
	 .container {
	   max-width: 1100px;
	 }
 	.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    	font-size: 13px;
	}
	#_prquoi ._cnt_prquoi_bloc ._prquoi_bloc ._bloc ._cnt_bloc_title ._bloc_title {
    	font-size: 16px !important;
	}
	.p-a-propos > p, ._article_body > p, .class-prod-list > p, .class_club_energy > p, .ccm-p{
		font-size: 13px;
		line-height: 1.5em;
	}
	.slider-text p {
    	line-height: 1.5;
    	color: #FFF;
    	font-size: 15px !important;
	}

	.p-a-propos h2{
		font-size: 1.69rem;
	}
	.services-h2{
		font-size: 1.50rem;
	}
 	#_pg_lavage  ._bredcrumb_custo,
 	#_pg_carburants ._bredcrumb_custo,
 	#_pg_produits ._bredcrumb_custo,
 	#_pg_stations ._bredcrumb_custo,
 	#_pg_a-propos ._bredcrumb_custo,
 	#_pg_club-energy ._bredcrumb_custo,
 	#_pg_comment_ca_marche ._bredcrumb_custo,
 	#_pg_actualites  ._bredcrumb_custo,
 	#_pg_contact  ._bredcrumb_custo,
 	#_pg_promos  ._bredcrumb_custo{
 		font-size: 14px;
 	}
 	.btn {
    	font-size: 14px;
	}
	.nombre {
	    background-color: #4f2f8d;
	    color: white;
	    display: inline-block;
	    border-radius: 60%;
	    width: 30px;
	    height: 33px;
	    text-align: center;
    	font-size: 20px;
	}
	#_reseau h1._title_reseau, #_nos_actus h1._title_actus {
    	font-size: 24.5px !important;
	}
	#_reseau ._cnt_bloc ._bloc ._bloc_info h3._bloc_title {
    	font-size: 19px;
	}

	#_prquoi ._title_prquoi p{
		font-size: 24.5px;
	}
	.form-control::placeholder {
    	font-size: 13px;
	}
	input#nom, input#prenom, input#email, input#phone, #label_message, #message,
	article section._bloc_content h3._bloc_title, #_pg_contact form p {
		font-size: 13px;
	}

	article section._bloc_content h3._bloc_title, #_pg_contact form p {
    	font-size: 13px;
	}


	#_nos_actus ._panel_actus {
        border-radius: 10px !important;
        box-shadow: 1px 2px 6px .2px rgba(0,0,0,.3) !important;
        /*height: 355px;*/
        min-height: 100%
    }
     #_nos_actus ._panel_actus .panel-footer p._actu_description {
        color: #a29da9 !important;
        line-height: 16px !important;
        font-size: 13px !important;
    }

    #_pg_contact form p{
    	font-size: 13px;
    }
    #_pg_actualites ._big_bloc_actus ._bloc_shadow h2._bloc_title {
    	font-size: 20.5px !important;
	}
	#_pg_actualites ._panel_actus {
	    border-radius: 10px !important;
	    box-shadow: 1px 2px 6px .2px rgba(0,0,0,.3) !important;
	    /*height: 383px;*/
        min-height: 100%
	}
	.list-unstyled {
    	font-size: 0.75rem;
	}
	.copyright-container p, .immobilier-container p {
    	margin: 5px;
    	font-size: 0.75rem;

	}
}


ul#_menu, ul.submenu{
    margin: 0;
    padding: 0;
    list-style: none;
}

li ul.submenu {
    display: none;
}

@media only screen and (min-width: 992px) {

  /* show the submenu */
  ul#_menu li:hover > ul.submenu{
      display: block;
      position: absolute;
      float:left;
      border-radius: 4px;
      /*box-shadow: 0 1px 2px rgba(0,0,0,.1);
      border: 1px solid rgba(251, 243, 243, 0.51);
      background-color: #3b3480;*/
      /*box-shadow: 0 1px 2px rgba(231, 225, 225, 0.1);*/
      border: 0px solid rgba(251, 243, 243, 0.51);
      /*background-color: rgba(255,255,255,0.2);*/
      background-color: #615d9b;
      /*background-color:#f8f6f6;*/
  }
  ul.submenu li:hover > ul.submenu{
      display: block;
      position:absolute;
      left:100%;
      top:0;
      box-shadow: 0 1px 2px rgba(231, 225, 225, 0.1);
      border: 1px solid rgba(251, 243, 243, 0.51);
      /*border-radius: 12px;
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
      border: 1px solid rgba(251, 243, 243, 0.51);*/
  }

  .submenu .nav-item > a {
    font-weight: 500;
  }


  .submenu a {
    padding: 10px 18px;
    font-size: 14px;
  }

  /*ul#_menu li:hover li,  ul#_menu li:hover a {
      float: none;
      background: rgb(230,240,254);
      color: #000;
  }*/
  ul#_menu li:hover li a {
      /*background: rgb(250,252,254);
      color: rgb(51,51,51);
      background: rgb(60, 51, 128);
      color: rgb(246, 244, 244);*/
      background: rgba(236, 236, 238, 0);
      color: rgb(247, 246, 246);
  }
  ul#_menu li:hover li a:hover {
      /*background: rgb(230,240,254);
      color: #000;*/
      background: rgba(61, 51, 128, 0);
      color: white;
      text-shadow: 1px 0px 0px rgba(255,255,255,1);
      /*font-weight: bold;*/

  }

  ul.submenu li {
    padding: 10px 10px 15px;
  }

  ul.submenu .nav-item a{
    padding: 6px !important;
  }
  /*ul.submenu .nav-item:not(:last-child) a{
    border-bottom: 1px solid #FFF;
  }*/
  .nav-item.submenu{
    /*overflow: hidden;*/
    /*left:62px;*/
  }

  .nav-item ul.submenu {
    min-width: 220px !important;
    max-width: 220px !important;
  }

  .nav-item:hover> ul{
    border-top-right-radius: 0px !important; 
    border-bottom-right-radius: 0px !important; 
  }
  .nav-item:hover> ul> li> ul{
    border-top-left-radius: 0px !important; 
    border-bottom-left-radius: 0px !important; 
  }

}

.hr_menu {
	display: block; 
	/*height: 1px;*/
    border: 0; 
    border-top: 1px solid rgba(251, 243, 243, 0.51);
    margin: 1em 0; 
    padding: 0; 
}

.hr_menu{
  display: none;
}



/*.has-sub > a::after {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	content: '\e64b';
	font-family: 'themify';
	font-size: 8px;
	font-weight: 700;
	transition: transform .4s;
}


.nav-item.has-sub > a::after {
	right: 18px;
}

.mycluster {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3498db;
    color: black;
    text-align: center;
    font-size: 20px;    
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}*/


.img_contact_left {
 	padding-left:66px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

@media only screen and (max-width: 768px) {
    .img_contact_left {
    	padding-left: 13px !important;
    }
}

@media only screen and (max-width: 768px) {
    .l_search {
    	margin-bottom: 5px !important;
    }
}



.i_page {
    display: block;
}

.i_mobile {
    display: none;
}


@media only screen and (max-width: 991.98px) {
    .btn-first:hover {
        color: #4f2f8d !important;
        background-color: initial !important;
        border-color: #4f2f8d !important;
    }
}

/*@media only screen and (max-width: 64em) and (min-width: 52.01em) {
  #_nav li {
    width: 33.333%;
  }

  #_nav .submenu li {
    width: auto;
  }
}

@media only screen and (min-width: 52em) {
  #_nav #_menu {
    display: block;
  }

  #toggle-menu, 
  #_nav label.drop-icon {
    display: none;
  }

  #_nav ul span.drop-icon {
    display: inline-block;
  }

  #_nav li {
    float: left;
    border-width: 0 1px 0 0;
  }

  #_nav .submenu li {
    float: none;
  }

  #_nav .submenu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    z-index: 3000;
  }

  #_nav .submenu, 
  #_nav input[type="checkbox"]:checked + .submenu {
    display: none;
  }

  #_nav .submenu li {
    border-width: 0 0 1px;
  }

  #_nav .submenu .submenu {
    top: 0;
    left: 100%;
  }

  #_nav li:hover > input[type="checkbox"] + .submenu {
    display: block;
  }
}*/

*[id^="map"] {

    width: 100%;
    height: 100%;
    z-index: 100;

}

@media only screen and (max-width: 768px) {
    #mapidv1, #mapidv2 {
      min-height: 290px;
    }
}

@media only screen and (max-width: 615px) {
    ._h_cnt_btn ._h_lst_btn li {
      padding: 0 6px !important;
    }
}

#logo_marque {
  padding: 0 3px 0 60px;
}


@media only screen and (max-width: 500px) {
    #logo_marque {
      padding: 0 3px 0 20px;
    }
}

@media only screen and (max-width: 421px) and (min-width: 401px)  {
    #logo_marque {
      padding: 0 3px 0 1px;
    }
}


@media only screen and (max-width: 261px) {
    #logo_marque {
      padding: 0 3px 0 1px;
    }
}

 #nos_promo_l h1._title_promos {
    text-align: center !important;
    text-transform: uppercase !important;
    font-size: 31px !important;
    color: #a29da9 !important;
    margin-bottom: 15px !important;
}

.logo_cce {
  max-width: 100%;
  height: 75px;
}

#p_retour {
  width: auto !important;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
#acces_site {
  width: auto !important;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.p_expire {
  /*background-color:#4f2f8d;
  font-size: 18px;
  border-radius: 29px;
  color:#fff;
  border: 10px solid
  transparent;*/
  color: #4f2f8d;
  font-weight: bold;
  font-size: 18px;
}

.close-icon-promo {
  display:inline-block;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:red;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:red;
  /*box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);*/
  transition: all 0.3s ease;
}

.btn_download {
  border-color: initial;
  border-radius: initial;
  width: 100%;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background: #00aac9;
}

a.btn_download:hover {
  color: #4E2490;
  font-weight: 600;
}

@media only screen and (max-width: 294px) {
    .btn_download {
      font-size: 13px !important;
    }
}

@media only screen and (min-width: 783px) {
    .a_valeur img {
      margin-top: 120px;
    }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #_header_carousel {
  padding-top: 102px;
}


/*#logo_marque .slick-slide {
  width: auto !important;
}*/